<h2>Hello, <%= user.username %></h2>
<h2>Id is <%= user.id %></h2>
<h2>Repos are: <br>
	<form name = "repo" action = "/submit" method = "post" >
		<input type="text" name="url" id ="txtName" value="" onClick="this.form.submit();">> -
		        <%=urls[index]%><br/> 
	<%});%>
	</form>

</h2>

