<html>
	
	<form action = "/submitMovie" method = "post"> 
		Welcome to Chromato:
		<br>
		<input type="text" name="movieTitle" placeholder="Movie Title" />	
		<br>	
		<input type="text" name="page_limit" placeholder="page limit" />
		<br>
	    <button type="submit">Submit</button>
	</form>
		
</html>
