<html>

	<h2>Movie Title: <%= movieTitle.title %></h2>
	<h2>Movie Year: <%= movieTitle.year %></h2>
	<h2>Movie Rating: <%= movieTitle.mpaa_rating %></h2>
	<h2>Movie Runtime: <%= movieTitle.runtime %></h2>

	
	

	<br>
	

	<form action = "/submitMovie" method = "post"> 
		Welcome to Chromato:
		<br>
		<input type="text" name="movieTitle" placeholder="Movie Title" />	
		<br>	
		<input type="text" name="apiKey" placeholder="Api Key" />
		<br>
		<input type="text" name="page_limit" placeholder="page limit" />
		<br>
	    <button type="submit">Submit</button>
	</form>
	

</html>